:root {
    --primary: #ACE1AF;
    --secondary: #FFD1DC;
    --highlight: #A0E1F5;
    --white: #FFFFFF;
    --gray: #BBBBB8;
    --darkgray: #808080;
    --title-font: 'Megrim',serif;
    --primary-font: 'Nunito',serif;
    --label-font: 'Playfair Display',serif;
}

* {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    height: auto;
}

body {
    background-color: white;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, var(--darkgray) 1px, transparent 1px),
    linear-gradient(to bottom, var(--darkgray) 1px, transparent 1px);
    font-family: var(--primary-font);
}

h1 {
    font-family: var(--title-font);
    text-align: center;
    background-color: var(--primary);
    padding: 15px;
}

h2 {
    font-family: var(--label-font);
    margin-left: 15px;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 90%;
    margin: 50px auto;
    border-radius: 25px;
    padding: 5px 15px;
    background-color: var(--white);
}

section h2 {
    flex: 1 0 100%;
}

section:nth-child(odd) {
    border-right: 15px solid var(--secondary);
    border-bottom: 15px solid var(--secondary);
    box-shadow: 10px 10px 5px var(--gray);
}

section:nth-child(even) {
    border-left: 15px solid var(--primary);
    border-top: 15px solid var(--primary);
    box-shadow: 10px 10px 5px var(--gray);
}

p {
    max-width: 650px;
}

div.highlight {
    padding: 10px;
    margin: auto;
    background-color: var(--highlight);
    border-radius: 25px;
}

.content {
    flex: 1 1 60%;
    padding: 15px;
}

.content img {
    display: block;
    width: 100%;
    max-width: 460px;
    border-radius: 25px;
}

.additional {
    flex: 0 0 200px;
}

ul {
    list-style-type: circle;
}

ul.social {
    flex: 1 0 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
}

ul.social li {
    display: inline;
}

ul.social img {
    max-width: 2em;
    margin: 15px;
}

@media screen and (max-width: 320px) {
    section {
        max-width: 75%
    }

    section:first-of-type p, section p {
        max-width: 100%;
        margin: 0;
    }

    div.highlight {
        padding: 5px 0;
    }
}

@media screen and (max-width: 480px), (max-width: 558px) {
    section {
        max-width: 95%;
    }

    section:first-of-type p, section p {
        margin: 0 0 15px 0;
    }

    div.highlight {
        padding: 5px 0;
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    section {
        max-width: 50%;
    }

    div.highlight {
        margin: 15px auto;
    }
}
